<!--start-contact-->
<section id="contact" class="contact">
  <div class="contact-overlay pd-y">
    <div class="heading text-center">
      <h2 class="title ref-title">CONTACT</h2>
      <span class="span-left ref-span-left"></span><i class="fa fa-stop icon-heading"></i><strong
        class="subtitle ref-subtitle">CONTACT WITH ME</strong><i class="fa fa-stop icon-heading"></i><span
        class="span-right ref-span-right"></span>
    </div>
    <div class="container">
      <div class="contact-content row">
        <div class="contact-map col-12 col-md-6">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3456.5442599131998!2d31.25503378570982!3d29.96378488191168!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x145847f2f5c8610b%3A0x9ab055502b58f346!2z2YPYp9ix2YXYpyDYs9mG2KrYsSBDYXJtYWNlbnRlcg!5e0!3m2!1sar!2seg!4v1606602728224!5m2!1sar!2seg"
            width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
            tabindex="0"></iframe>
        </div>
        <div class="contact-form col-12 col-md-6">
          <div class="container box-tablea">
            <div class="boxtable-cella">
            </div>
            <div class="contact-form">
              <form id="my-form" name="contact" method="POST" data-netlify="true" class="row">
                <p class="col-12">
                  <input type="text" class="frn form-control" placeholder="Full name" name="name" />
                </p>
                <p class="col-12">
                  <input type="email" name="email" class="frn form-control" placeholder="name@example.com" />
                </p>
                <p class="col-12">
                  <textarea name="message" class="form-control" placeholder="Enter Your Message" rows="5"
                    style="width: 100%;"></textarea>
                </p>
                <div class="fullicon row no-gutters" style="width: 100%; margin: 0;">
                  <p>
                    <button class="btn bth1 btncontact" type="submit">Sent Message</button>
                  </p>
                </div>
              </form>
              <div class="iconcontent col-12 col-lg-7 text-center text-lg-right">
                <a href="https://www.facebook.com/hamadacarma" target="_blank"
                  class="iconface fa fa-facebook fa-2x"></a>
                <a href="https://twitter.com/hamadacarma" target="_blank" class="icontwitt fa fa-twitter fa-2x"></a>
                <a href="http://www.linkedin.com/in/mohamed-abdelsalam-98195511a" target="_blank"
                  class="iconlinked fa fa-linkedin fa-2x"></a>
                <a href="https://www.youtube.com/channel/UCgzVNdioIZOK3Yf5wFm-rvw?view_as=subscriber" target="_blank"
                  class="iconyout fa fa-youtube fa-2x"></a>
                <a href="https://github.com/carmacenter" target="_blank" class="icongit fa fa-github fa-2x"></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="address-phone row">
        <div class="item row col-12 col-lg-4">
          <div class="icon col-3"><i class="fa fa-map-marker fa-3x"></i></div>
          <div class="info col-9">
            <h2>Address</h2>
            <span>Maadi - cairo - Egypt</span>
          </div>
        </div>
        <div class="item row col-12 col-lg-4">
          <div class="icon col-3"><i class="fa fa-envelope-o fa-3x"></i></div>
          <div class="info col-9">
            <h2>E-mail</h2>
            <span style="font-size: 14px;">carmacenter2011@yahoo.com</span>
          </div>
        </div>
        <div class="item row col-12 col-lg-4">
          <div class="icon col-3"><i class="fa fa-phone fa-3x"></i></div>
          <div class="info col-9">
            <h2>Phone</h2>
            <span>(+2) 0100-3557-381</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end-contact -->

<!-- start-footer -->
<footer id="footer" class="footer row no-gutters m-0">
  <div class="logo text-center text-md-left col-12 col-md-6">
    <a class="navbar-brand" href="#"> <strong><span>CARMA</span>CENTER</strong></a>
  </div>
  <div class="copyright text-center text-md-right  col-12 col-md-6">
    Copyright &copy; 2020 By Carma-Center
  </div>
</footer>
<!-- end-footer -->
