<!-- start-portfolio -->
<section id="portfolio" class="portfolio pd-y ">
  <div class="container">
    <div class="heading text-center">
      <h2 class="title">portfolio</h2>
      <span class="span-left"></span><i class="fa fa-stop icon-heading"></i><strong class="subtitle">SELECTED
        SAMPLES</strong><i class="fa fa-stop icon-heading"></i><span class="span-right"></span>
    </div>
    <div class="portfolio-content">
      <div id="myBtnContainer" class="text-center mb-5">
        <button class="btn active " onclick="filterSelection('all')"> Show all</button>
        <button class="btn" onclick="filterSelection('Creative')">Creative</button>
        <button class="btn" onclick="filterSelection('Modern')"> Modern Technology</button>
        <button class="btn" onclick="filterSelection('markiting')"> MARKETING</button>
      </div>

      <!-- Portfolio Gallery Grid -->
      <div class="row items">
        <div class="column Creative col-12 col-md-4 mb-3 show">
          <div class="content h-75">
            <img class="h-100 w-100 mb-3" src="../../../assets/images/portfolio1.jpg" alt="Mountains"
              style="width:100%">
            <div class="overlay2"></div>
            <div class="port-link"><a href="https://demo8-carmacenter.netlify.app" target="_blank">View Website<i
                  class="fa fa-external-link fa-lg"></i></a></div>
          </div>
          <h4>Mountains</h4>
          <p>Designed By CarmaCenter</p>
        </div>
        <div class="column Modern col-12 col-md-4 mb-3 show">
          <div class="content h-75">
            <img class="h-100 w-100 mb-3" src="../../../assets/images/portfolio2.jpg" alt="Mountains"
              style="width:100%">
            <div class="overlay2"></div>
            <div class="port-link"><a href="https://demo9-carmacenter.netlify.app" target="_blank">View Website<i
                  class="fa fa-external-link fa-lg"></i></a></div>
          </div>
          <h4>Creative Agency</h4>
          <p>Designed By CarmaCenter</p>
        </div>
        <div class="column markiting col-12 col-md-4 mb-3 show">
          <div class="content h-75">
            <img class="h-100 w-100 mb-3" src="../../../assets/images/portfolio3.jpg" alt="Mountains"
              style="width:100%">
            <div class="overlay2"></div>
            <div class="port-link"><a href="#" target="_blank">View Website<i class="fa fa-external-link fa-lg"></i></a>
            </div>
          </div>
          <h4>Creative for Resume</h4>
          <p>Designed By CarmaCenter</p>
        </div>
        <div class="column Creative col-12 col-md-4 mb-3 show">
          <div class="content h-75">
            <img class="h-100 w-100 mb-3" src="../../../assets/images/portfolio4.jpg" alt="Mountains"
              style="width:100%">
            <div class="overlay2"></div>
            <div class="port-link"><a href="https://demo10-carmacenter.netlify.app" target="_blank">View Website<i
                  class="fa fa-external-link fa-lg"></i></a></div>
          </div>
          <h4>Creative Technology</h4>
          <p>Designed By CarmaCenter</p>
        </div>
        <div class="column markiting col-12 col-md-4 mb-3 show">
          <div class="content h-75">
            <img class="h-100 w-100 mb-3" src="../../../assets/images/portfolio15.jpg" alt="Mountains"
              style="width:100%">
            <div class="overlay2"></div>
            <div class="port-link"><a href="#" target="_blank">View Website<i class="fa fa-external-link fa-lg"></i></a>
            </div>
          </div>
          <h4>MakeUp</h4>
          <p>Designed By CarmaCenter</p>
        </div>
        <div class="column Modern col-12 col-md-4 mb-3 show">
          <div class="content h-75">
            <img class="h-100 w-100 mb-3" src="../../../assets/images/portfolio5.jpg" alt="Mountains"
              style="width:100%">
            <div class="overlay2"></div>
            <div class="port-link"><a href="https://demo1-carmacenter.netlify.app" target="_blank">View Website<i
                  class="fa fa-external-link fa-lg"></i></a></div>
          </div>
          <h4>Modern Technology</h4>
          <p>Designed By CarmaCenter</p>
        </div>
        <div class="column markiting col-12 col-md-4 mb-3 show">
          <div class="content h-75">
            <img class="h-100 w-100 mb-3" src="../../../assets/images/portfolio6.jpg" alt="Mountains"
              style="width:100%">
            <div class="overlay2"></div>
            <div class="port-link"><a href="https://demo2-carmacenter.netlify.app" target="_blank">View Website<i
                  class="fa fa-external-link fa-lg"></i></a></div>
          </div>
          <h4>Resume Agency</h4>
          <p>Designed By CarmaCenter</p>
        </div>

        <!-- END GRID -->
      </div>
      <div id="show-hide-portfolio" class="show-hide-portfolio">
        <div class=" row">
          <div class="column Modern col-12 col-md-4 mb-3 show ">
            <div class="content h-75">
              <img class="h-100 w-100 mb-3" src="../../../assets/images/portfolio8.jpg" alt="Mountains"
                style="width:100%">
              <div class="overlay2"></div>
              <div class="port-link"><a href="https://demo4-carmacenter.netlify.app" target="_blank">View Website<i
                    class="fa fa-external-link fa-lg"></i></a></div>
            </div>
            <h4>Classic</h4>
            <p>Designed By CarmaCenter</p>
          </div>
          <div class="column markiting col-12 col-md-4 mb-3  show">
            <div class="content h-75">
              <img class="h-100 w-100 mb-3" src="../../../assets/images/portfolio9.jpg" alt="Mountains"
                style="width:100%">
              <div class="overlay2"></div>
              <div class="port-link"><a href="https://demo5-carmacenter.netlify.app" target="_blank">View Website<i
                    class="fa fa-external-link fa-lg"></i></a></div>
            </div>
            <h4>Technologically Update</h4>
            <p>Designed By CarmaCenter</p>
          </div>
          <div class="column Modern col-12 col-md-4 mb-3 show">
            <div class="content h-75">
              <img class="h-100 w-100 mb-3" src="../../../assets/images/portfolio14.jpg" alt="Mountains"
                style="width:100%">
              <div class="overlay2"></div>
              <div class="port-link"><a href="https://demo12-carmacenter.netlify.app" target="_blank">View Website<i
                    class="fa fa-external-link fa-lg"></i></a></div>
            </div>
            <h4>Tow Language</h4>
            <p>Designed By CarmaCenter</p>
          </div>
          <div class="column Creative col-12 col-md-4 mb-3">
            <div class="content h-75">
              <img class="h-100 w-100 mb-3" src="../../../assets/images/portfolio10.jpg" alt="Mountains"
                style="width:100%">
              <div class="overlay2"></div>
              <div class="port-link"><a href="https://demo6-carmacenter.netlify.app" target="_blank">View Website<i
                    class="fa fa-external-link fa-lg"></i></a></div>
            </div>
            <h4>Blog</h4>
            <p>Designed By CarmaCenter</p>
          </div>
          <div class="column Modern col-12 col-md-4 mb-3 ">
            <div class="content h-75">
              <img class="h-100 w-100 mb-3" src="../../../assets/images/portfolio11.jpg" alt="Mountains"
                style="width:100%">
              <div class="overlay2"></div>
              <div class="port-link"><a href="https://demo1-carmacenter.netlify.app" target="_blank">View APP<i
                    class="fa fa-external-link fa-lg"></i></a></div>
            </div>
            <h4>TodoList APP(with React.js)</h4>
            <p>Designed By CarmaCenter</p>
          </div>
          <div class="column  markiting col-12 col-md-4 mb-3 ">
            <div class="content h-75">
              <img class="h-100 w-100 mb-3" src="../../../assets/images/portfolio12.jpg" alt="Mountains"
                style="width:100%">
              <div class="overlay2"></div>
              <div class="port-link"><a href="https://demo1-carmacenter.netlify.app" target="_blank">View APP<i
                    class="fa fa-external-link fa-lg"></i></a></div>
            </div>
            <h4>Courses APP(with React.js)</h4>
            <p>Designed By CarmaCenter</p>
          </div>
          <div class="column Creative col-12 col-md-4 mb-3 ">
            <div class="content h-75">
              <img class="h-100 w-100 mb-3" src="../../../assets/images/portfolio13.jpg" alt="Mountains"
                style="width:100%">
              <div class="overlay2"></div>
              <div class="port-link"><a href="https://demo7-carmacenter.netlify.app" target="_blank">View website<i
                    class="fa fa-external-link fa-lg"></i></a></div>
            </div>
            <h4>Love Pinky</h4>
            <p>Designed By CarmaCenter</p>
          </div>
          <div class="column markiting col-12 col-md-4 mb-3">
            <div class="content h-75">
              <img class="h-100 w-100 mb-3" src="../../../assets/images/portfolio7.jpg" alt="Mountains"
                style="width:100%">
              <div class="overlay2"></div>
              <div class="port-link"><a href="https://demo3-carmacenter.netlify.app" target="_blank">View Website<i
                    class="fa fa-external-link fa-lg"></i></a></div>
            </div>
            <h4>markiting</h4>
            <p>Designed By CarmaCenter</p>
          </div>
        </div>
      </div>
    </div>
    <button id="show-hide-id" class="show-hide m-auto d-block">See Other Projects</button>

  </div>
</section>
<!-- end-portfolio -->
