<!-- start-portfolio -->
<section id="portfolio" class="portfolio pd-y ">
  <div class="container">
    <div class="heading text-center">
      <h2 class="title">portfolio</h2>
      <span class="span-left"></span><i class="fa fa-stop icon-heading"></i><strong class="subtitle">SELECTED
        SAMPLES</strong><i class="fa fa-stop icon-heading"></i><span class="span-right"></span>
    </div>
    <div class="portfolio-content">
      <div id="myBtnContainer" class="text-center mb-5">
        <button class="btn active " onclick="filterSelection('all')"> Show all</button>
        <button class="btn" onclick="filterSelection('Creative')">Creative</button>
        <button class="btn" onclick="filterSelection('Modern')"> Modern Technology</button>
        <button class="btn" onclick="filterSelection('markiting')"> MARKETING</button>
      </div>

      <!-- Portfolio Gallery Grid -->
      <div class="row items">
        <div class="column markiting col-12 col-md-4 mb-3 show">
          <div class="content h-75">
            <img class="h-100 w-100 mb-3" src="../../../assets/images/port1-b.png" alt="Mountains" style="width:100%">
            <div class="overlay2"></div>
            <div class="port-link">
              <div class="row">
                <div class="col-5 text-left ">
                  <a href="https://carma-center.com" class="pad" target="_blank">View<i
                      class="fa fa-external-link fa-lg"></i></a>
                </div>
                <div class="col-2"><a href="../../../assets/images/port1-a.png" class="plus" target="_blank"><i
                      class="fa fa-plus fa-2x"></i></a></div>
                <div class="col-5 text-right">
                  <a href="https://github.com/CarmaCenter/carmacenter-company-angular" class="pad"
                    target="_blank">Code<i class="fa fa-code fa-lg"></i></a>
                </div>
              </div>
            </div>
          </div>
          <h4>CarmaCenter.Co-Angular</h4>
          <p>Designed By CarmaCenter</p>
        </div>
        <div class="column Modern col-12 col-md-4 mb-3 show">
          <div class="content h-75">
            <img class="h-100 w-100 mb-3" src="../../../assets/images/port12-b.png" alt="Mountains" style="width:100%">
            <div class="overlay2"></div>
            <div class="port-link">
              <div class="row">
                <div class="col-5 text-left ">
                  <a href="https://list-of-videos-in-youtube-angular-web.netlify.app/" class="pad" target="_blank">View<i
                      class="fa fa-external-link fa-lg"></i></a>
                </div>
                <div class="col-2"><a href="../../../assets/images/port12-a.png" class="plus" target="_blank"><i
                      class="fa fa-plus fa-2x"></i></a></div>
                <div class="col-5 text-right">
                  <a href="https://github.com/CarmaCenter/List-of-videos-in-YouTube-angular" class="pad"
                    target="_blank">Code<i class="fa fa-code fa-lg"></i></a>
                </div>
              </div>
            </div>
          </div>
          <h4>PlayList Youtube App-Angular</h4>
          <p>Designed By CarmaCenter</p>
        </div>
        <div class="column Modern col-12 col-md-4 mb-3 show">
          <div class="content h-75">
            <img class="h-100 w-100 mb-3" src="../../../assets/images/port2-b.png" alt="Mountains" style="width:100%">
            <div class="overlay2"></div>
            <div class="port-link">
              <div class="row">
                <div class="col-5 text-left ">
                  <a href="https://carmacenter.github.io/project2/" class="pad" target="_blank">View<i
                      class="fa fa-external-link fa-lg"></i></a>
                </div>
                <div class="col-2"><a href="../../../assets/images/port2-a.png" class="plus" target="_blank"><i
                      class="fa fa-plus fa-2x"></i></a></div>
                <div class="col-5 text-right">
                  <a href="https://github.com/CarmaCenter/project2" class="pad" target="_blank">Code<i
                      class="fa fa-code fa-lg"></i></a>
                </div>
              </div>
            </div>
          </div>
          <h4>Modern Technology</h4>
          <p>Designed By CarmaCenter</p>
        </div>
        <div class="column markiting col-12 col-md-4 mb-3 show">
          <div class="content h-75">
            <img class="h-100 w-100 mb-3" src="../../../assets/images/port3-b.png" alt="Mountains" style="width:100%">
            <div class="overlay2"></div>
            <div class="port-link">
              <div class="row">
                <div class="col-5 text-left ">
                  <a href="https://carmacenter.github.io/nonastoreproject/" class="pad" target="_blank">View<i
                      class="fa fa-external-link fa-lg"></i></a>
                </div>
                <div class="col-2"><a href="../../../assets/images/port3-a.png" class="plus" target="_blank"><i
                      class="fa fa-plus fa-2x"></i></a></div>
                <div class="col-5 text-right">
                  <a href="https://github.com/CarmaCenter/nonastoreproject" class="pad" target="_blank">Code<i
                      class="fa fa-code fa-lg"></i></a>
                </div>
              </div>
            </div>
          </div>
          <h4>NonaStore</h4>
          <p>Designed By CarmaCenter</p>
        </div>
        <div class="column Modern col-12 col-md-4 mb-3 show">
          <div class="content h-75">
            <img class="h-100 w-100 mb-3" src="../../../assets/images/port4-b.png" alt="Mountains" style="width:100%">
            <div class="overlay2"></div>
            <div class="port-link">
              <div class="row">
                <div class="col-5 text-left ">
                  <a href="https://carmacenter.github.io/5colorsproject/" class="pad" target="_blank">View<i
                      class="fa fa-external-link fa-lg"></i></a>
                </div>
                <div class="col-2"><a href="../../../assets/images/port4-a.png" class="plus" target="_blank"><i
                      class="fa fa-plus fa-2x"></i></a></div>
                <div class="col-5 text-right">
                  <a href="https://github.com/CarmaCenter/5colorsproject" class="pad" target="_blank">Code<i
                      class="fa fa-code fa-lg"></i></a>
                </div>
              </div>
            </div>
          </div>
          <h4>5 Colors</h4>
          <p>Designed By CarmaCenter</p>
        </div>
        <div class="column markiting col-12 col-md-4 mb-3 show">
          <div class="content h-75">
            <img class="h-100 w-100 mb-3" src="../../../assets/images/port5-b.png" alt="Mountains" style="width:100%">
            <div class="overlay2"></div>
            <div class="port-link">
              <div class="row">
                <div class="col-5 text-left ">
                  <a href="https://carmacenter.github.io/rockerproject/" class="pad" target="_blank">View<i
                      class="fa fa-external-link fa-lg"></i></a>
                </div>
                <div class="col-2"><a href="../../../assets/images/port5-a.png" class="plus" target="_blank"><i
                      class="fa fa-plus fa-2x"></i></a></div>
                <div class="col-5 text-right">
                  <a href="https://github.com/CarmaCenter/rockerproject" class="pad" target="_blank">Code<i
                      class="fa fa-code fa-lg"></i></a>
                </div>
              </div>
            </div>
          </div>
          <h4>Rocker</h4>
          <p>Designed By CarmaCenter</p>
        </div>
        <!-- END GRID -->
      </div>
      <div id="show-hide-portfolio" class="show-hide-portfolio">
        <div class=" row">
          <div class="column Modern col-12 col-md-4 mb-3 show">
            <div class="content h-75">
              <img class="h-100 w-100 mb-3" src="../../../assets/images/port11-a.png" alt="Mountains"
                style="width:100%">
              <div class="overlay2"></div>
              <div class="port-link">
                <div class="row">
                  <div class="col-5 text-left ">
                    <a href="https://carmacenter.github.io/TodoList-Vue/" class="pad" target="_blank">View<i
                        class="fa fa-external-link fa-lg"></i></a>
                  </div>
                  <div class="col-2"><a href="../../../assets/images/port11-a.png" class="plus" target="_blank"><i
                        class="fa fa-plus fa-2x"></i></a></div>
                  <div class="col-5 text-right">
                    <a href="https://github.com/CarmaCenter/TodoList-Vue" class="pad" target="_blank">Code<i
                        class="fa fa-code fa-lg"></i></a>
                  </div>
                </div>
              </div>
            </div>
            <h4>TodoList With Vue.js</h4>
            <p>Designed By CarmaCenter</p>
          </div>
          <div class="column Modern col-12 col-md-4 mb-3 show">
            <div class="content h-75">
              <img class="h-100 w-100 mb-3" src="../../../assets/images/port6-b.png" alt="Mountains" style="width:100%">
              <div class="overlay2"></div>
              <div class="port-link">
                <div class="row">
                  <div class="col-5 text-left ">
                    <a href="https://carmacenter.github.io/projrct3/" class="pad" target="_blank">View<i
                        class="fa fa-external-link fa-lg"></i></a>
                  </div>
                  <div class="col-2"><a href="../../../assets/images/port6-a.png" class="plus" target="_blank"><i
                        class="fa fa-plus fa-2x"></i></a></div>
                  <div class="col-5 text-right">
                    <a href="https://github.com/CarmaCenter/projrct3" class="pad" target="_blank">Code<i
                        class="fa fa-code fa-lg"></i></a>
                  </div>
                </div>
              </div>
            </div>
            <h4>Web Deisign</h4>
            <p>Designed By CarmaCenter</p>
          </div>
          <div class="column Modern col-12 col-md-4 mb-3 show ">
            <div class="content h-75">
              <img class="h-100 w-100 mb-3" src="../../../assets/images/port7-b.png" alt="Mountains" style="width:100%">
              <div class="overlay2"></div>
              <div class="port-link">
                <div class="row">
                  <div class="col-5 text-left ">
                    <a href="https://carmacenter.github.io/project1/" class="pad" target="_blank">View<i
                        class="fa fa-external-link fa-lg"></i></a>
                  </div>
                  <div class="col-2"><a href="../../../assets/images/port7-a.png" class="plus" target="_blank"><i
                        class="fa fa-plus fa-2x"></i></a></div>
                  <div class="col-5 text-right">
                    <a href="https://github.com/CarmaCenter/project1" class="pad" target="_blank">Code<i
                        class="fa fa-code fa-lg"></i></a>
                  </div>
                </div>
              </div>
            </div>
            <h4>Classic</h4>
            <p>Designed By CarmaCenter</p>
          </div>
          <div class="column markiting col-12 col-md-4 mb-3  show">
            <div class="content h-75">
              <img class="h-100 w-100 mb-3" src="../../../assets/images/port8-b.png" alt="Mountains" style="width:100%">
              <div class="overlay2"></div>
              <div class="port-link">
                <div class="row">
                  <div class="col-5 text-left ">
                    <a href="https://carmacenter.github.io/animatproject/" class="pad" target="_blank">View<i
                        class="fa fa-external-link fa-lg"></i></a>
                  </div>
                  <div class="col-2"><a href="../../../assets/images/port8-a.png" class="plus" target="_blank"><i
                        class="fa fa-plus fa-2x"></i></a></div>
                  <div class="col-5 text-right">
                    <a href="https://github.com/CarmaCenter/animatproject" class="pad" target="_blank">Code<i
                        class="fa fa-code fa-lg"></i></a>
                  </div>
                </div>
              </div>
            </div>
            <h4>Animation</h4>
            <p>Designed By CarmaCenter</p>
          </div>
          <div class="column Creative col-12 col-md-4 mb-3 show">
            <div class="content h-75">
              <img class="h-100 w-100 mb-3" src="../../../assets/images/port9-b.png" alt="Mountains" style="width:100%">
              <div class="overlay2"></div>
              <div class="port-link">
                <div class="row">
                  <div class="col-5 text-left ">
                    <a href="https://carmacenter.github.io/2langproject/" class="pad" target="_blank">View<i
                        class="fa fa-external-link fa-lg"></i></a>
                  </div>
                  <div class="col-2"><a href="../../../assets/images/port9-a.png" class="plus" target="_blank"><i
                        class="fa fa-plus fa-2x"></i></a></div>
                  <div class="col-5 text-right">
                    <a href="https://github.com/CarmaCenter/2langproject" class="pad" target="_blank">Code<i
                        class="fa fa-code fa-lg"></i></a>
                  </div>
                </div>
              </div>
            </div>
            <h4>Tow Language</h4>
            <p>Designed By CarmaCenter</p>
          </div>
          <div class="column Creative col-12 col-md-4 mb-3 show">
            <div class="content h-75">
              <img class="h-100 w-100 mb-3" src="../../../assets/images/port10-b.png" alt="Mountains"
                style="width:100%">
              <div class="overlay2"></div>
              <div class="port-link">
                <div class="row">
                  <div class="col-5 text-left ">
                    <a href="https://carmacenter.ml" class="pad" target="_blank">View<i
                        class="fa fa-external-link fa-lg"></i></a>
                  </div>
                  <div class="col-2"><a href="../../../assets/images/port10-a.png" class="plus" target="_blank"><i
                        class="fa fa-plus fa-2x"></i></a></div>
                  <div class="col-5 text-right">
                    <a href="https://github.com/CarmaCenter/portfolio-angular" class="pad" target="_blank">Code<i
                        class="fa fa-code fa-lg"></i></a>
                  </div>
                </div>
              </div>
            </div>
            <h4>Portfolio-Angular</h4>
            <p>Designed By CarmaCenter</p>
          </div>
          <!-- <div class="column Modern col-12 col-md-4 mb-3 ">
            <div class="content h-75">
              <img class="h-100 w-100 mb-3" src="../../../assets/images/port1-b.png" alt="Mountains" style="width:100%">
              <div class="overlay2"></div>
              <div class="port-link">
                <div class="row">
                  <div class="col-5 text-left ">
                    <a href="https://carma-center.com" class="pad" target="_blank">View<i
                        class="fa fa-external-link fa-lg"></i></a>
                  </div>
                  <div class="col-2"><a href="../../../assets/images/port1-a.png" class="plus" target="_blank"><i
                        class="fa fa-plus fa-2x"></i></a></div>
                  <div class="col-5 text-right">
                    <a href="https://github.com/CarmaCenter/carmacenter-company-angular" class="pad"
                      target="_blank">Code<i class="fa fa-code fa-lg"></i></a>
                  </div>
                </div>
              </div>
            </div>
            <h4>TodoList APP(with React.js)</h4>
            <p>Designed By CarmaCenter</p>
          </div>
          <div class="column  markiting col-12 col-md-4 mb-3 ">
            <div class="content h-75">
              <img class="h-100 w-100 mb-3" src="../../../assets/images/port1-b.png" alt="Mountains" style="width:100%">
              <div class="overlay2"></div>
              <div class="port-link">
                <div class="row">
                  <div class="col-5 text-left ">
                    <a href="https://carma-center.com" class="pad" target="_blank">View<i
                        class="fa fa-external-link fa-lg"></i></a>
                  </div>
                  <div class="col-2"><a href="../../../assets/images/port1-a.png" class="plus" target="_blank"><i
                        class="fa fa-plus fa-2x"></i></a></div>
                  <div class="col-5 text-right">
                    <a href="https://github.com/CarmaCenter/carmacenter-company-angular" class="pad"
                      target="_blank">Code<i class="fa fa-code fa-lg"></i></a>
                  </div>
                </div>
              </div>
            </div>
            <h4>Courses APP(with React.js)</h4>
            <p>Designed By CarmaCenter</p>
          </div>
          <div class="column Creative col-12 col-md-4 mb-3 ">
            <div class="content h-75">
              <img class="h-100 w-100 mb-3" src="../../../assets/images/port1-b.png" alt="Mountains" style="width:100%">
              <div class="overlay2"></div>
              <div class="port-link">
                <div class="row">
                  <div class="col-5 text-left ">
                    <a href="https://carma-center.com" class="pad" target="_blank">View<i
                        class="fa fa-external-link fa-lg"></i></a>
                  </div>
                  <div class="col-2"><a href="../../../assets/images/port1-a.png" class="plus" target="_blank"><i
                        class="fa fa-plus fa-2x"></i></a></div>
                  <div class="col-5 text-right">
                    <a href="https://github.com/CarmaCenter/carmacenter-company-angular" class="pad"
                      target="_blank">Code<i class="fa fa-code fa-lg"></i></a>
                  </div>
                </div>
              </div>
            </div>
            <h4>Love Pinky</h4>
            <p>Designed By CarmaCenter</p>
          </div>
          <div class="column markiting col-12 col-md-4 mb-3">
            <div class="content h-75">
              <img class="h-100 w-100 mb-3" src="../../../assets/images/port1-b.png" alt="Mountains" style="width:100%">
              <div class="overlay2"></div>
              <div class="port-link">
                <div class="row">
                  <div class="col-5 text-left ">
                    <a href="https://carma-center.com" class="pad" target="_blank">View<i
                        class="fa fa-external-link fa-lg"></i></a>
                  </div>
                  <div class="col-2"><a href="../../../assets/images/port1-a.png" class="plus" target="_blank"><i
                        class="fa fa-plus fa-2x"></i></a></div>
                  <div class="col-5 text-right">
                    <a href="https://github.com/CarmaCenter/carmacenter-company-angular" class="pad"
                      target="_blank">Code<i class="fa fa-code fa-lg"></i></a>
                  </div>
                </div>
              </div>
            </div>
            <h4>markiting</h4>
            <p>Designed By CarmaCenter</p>
          </div> -->
        </div>
      </div>
    </div>
    <button id="show-hide-id" class="show-hide m-auto d-block">See Other Projects</button>

  </div>
</section>
<!-- end-portfolio -->