 <!-- start-education -->
 <section id="education" class="education pd-y ">
  <div class="container">
     <div class="heading text-center">
        <h2 class="title">education</h2>
        <span class="span-left"></span><i class="fa fa-stop icon-heading"></i><strong class="subtitle">MY
           QUALIFICATION</strong><i class="fa fa-stop icon-heading"></i><span class="span-right"></span>
     </div>
     <div class="education-content">
        <div class="education-item row">
           <div class="item-a col-12 col-md-4">
              <h4>2011</h4>
              <h3>Academy of specialized studies</h3>
           </div>
           <div class="item-b col-12 col-md-8">
              <h3>Bachelor of Technology Development</h3>
              <p>Bachelor of Technology Development &quot;Quality Control Specialist&quot; Estimation &quot;Very
                 Good&quot;.</p>
           </div>
        </div>
        <div class="education-item row">
           <div class="item-a col-12 col-md-4">
              <h4>2008</h4>
              <h3>School of iron and steel five years above average</h3>
           </div>
           <div class="item-b col-12 col-md-8">
              <h3>Technical Diploma First Five-Year</h3>
              <p>Technical Diploma First Five-Year Trainer Department (Hydraulic Mechanics) “Very good”.</p>
           </div>
        </div>
        <div class="education-item row">
           <div class="item-a col-12 col-md-4">
              <h4>2018</h4>
              <h3>Russian Cultural Center</h3>
           </div>
           <div class="item-b col-12 col-md-8">
              <h3>Web Development Diploma.</h3>
              <p>Web Development Diploma (HTML - HTML5 - CSS - CSS3 - JavaScript - BootStrap - JQUERY).</p>
           </div>
        </div>
        <div class="education-item row">
           <div class="item-a col-12 col-md-4">
              <h4>2009</h4>
              <h3>UNESCO</h3>
           </div>
           <div class="item-b col-12 col-md-8">
              <h3>ICDL</h3>
              <p>International Computer Driving License(ICDL).</p>
           </div>
        </div>
     </div>
  </div>
</section>

<!-- end-education -->
