 <!-- start-REFERENCES -->
 <section id="references" class="references pd-y ">
  <div class="overlay"></div>
  <div class="references-content">
     <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
        <div class="carousel-inner text-center">
           <div class="carousel-item active">
              <div class="heading text-center">
                 <h2 class="title ref-title">REFERENCES</h2>
                 <span class="span-left ref-span-left"></span><i class="fa fa-stop icon-heading"></i><strong
                    class="subtitle ref-subtitle">RECOMMENDATION LETTERS</strong><i
                    class="fa fa-stop icon-heading"></i><span class="span-right ref-span-right"></span>
              </div>
              <div class="container">
                 <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt, dicta id! Reprehenderit quasi
                    molestiae nesciunt est iste in similique, rem maxime atque vero non vitae quas. Repudiandae
                    quasi, illum sunt cupiditate provident itaque ipsam voluptate.</p>
              </div>
              <div class="ref-img">
                 <img src="../../../assets/images/ref2.jpg" alt="photo">
              </div>
              <h5>PAUL SMITH</h5>
           </div>
           <div class="carousel-item ">
              <div class="heading text-center">
                 <h2 class="title ref-title">REFERENCES</h2>
                 <span class="span-left ref-span-left"></span><i class="fa fa-stop icon-heading"></i><strong
                    class="subtitle ref-subtitle">RECOMMENDATION LETTERS</strong><i
                    class="fa fa-stop icon-heading"></i><span class="span-right ref-span-right"></span>
              </div>
              <div class="container">
                 <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt, dicta id! Reprehenderit quasi
                    molestiae nesciunt est iste in similique, rem maxime atque vero non vitae quas. Repudiandae
                    quasi, illum sunt cupiditate provident itaque ipsam voluptate.</p>
              </div>
              <div class="ref-img">
                 <img src="../../../assets/images/ref3.jpg" alt="photo">
              </div>
              <h5>JAMES LEE</h5>
           </div>
           <div class="carousel-item ">
              <div class="heading text-center">
                 <h2 class="title ref-title">REFERENCES</h2>
                 <span class="span-left ref-span-left"></span><i class="fa fa-stop icon-heading"></i><strong
                    class="subtitle ref-subtitle">RECOMMENDATION LETTERS</strong><i
                    class="fa fa-stop icon-heading"></i><span class="span-right ref-span-right"></span>
              </div>
              <div class="container">
                 <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt, dicta id! Reprehenderit quasi
                    molestiae nesciunt est iste in similique, rem maxime atque vero non vitae quas. Repudiandae
                    quasi, illum sunt cupiditate provident itaque ipsam voluptate.</p>
              </div>
              <div class="ref-img">
                 <img src="../../../assets/images/ref4.jpg" alt="photo">
              </div>
              <h5>GEORGE CAPRIO</h5>
           </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
           <span class="carousel-control-prev-icon" aria-hidden="true"></span>
           <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
           <span class="carousel-control-next-icon" aria-hidden="true"></span>
           <span class="sr-only">Next</span>
        </a>
     </div>
  </div>
</section>
<!-- end-REFERENCES -->
