<!-- start-skills -->
<section id="skills" class="skills pd-y">
  <div class="container">
    <div class="heading text-center">
      <h2 class="title">Skills</h2>
      <span class="span-left"></span><i class="fa fa-stop icon-heading"></i><strong class="subtitle">WHAT I AM
        GOOD</strong><i class="fa fa-stop icon-heading"></i><span class="span-right"></span>
      <p class="skills-desc">
        Hello, I am Mohamed. I have some skills in the field of developing websites that you develop always
        and
        daily and until the moment you read in this section. I love working in this field and I worked hard to
        learn some skills that are related to this field such as HTML, HTML5, CSS, CSS3, JS, Angular And other skills
        that read about it and the percentage of my skills in it below, and you can follow my work in the
        business section Greetings.

      </p>
    </div>

    <div class="skills-content row text-center">
      <div class="circlechart col-12  col-md-4" data-percentage="85">
        <span class="progres-content">HTML/HTML5</span>
      </div>
      <div class="circlechart col-12  col-md-4" data-percentage="80">
        <span class="progres-content">CSS/CSS3</span>
      </div>
      <div class="circlechart col-12  col-md-4" data-percentage="72">
        <span class="progres-content">JavaScript</span>
      </div>
      <div class="circlechart col-12  col-md-4" data-percentage="83">
        <span class="progres-content">BootStrap</span>
      </div>
      <div class="circlechart col-12  col-md-4" data-percentage="78">
        <span class="progres-content">jQuery</span>
      </div>
      <div class="circlechart col-12  col-md-4" data-percentage="79">
        <span class="progres-content">SASS</span>
      </div>
      <div class="circlechart col-12  col-md-4" data-percentage="95">
        <span class="progres-content">Responsive</span>
      </div>
      <div class="circlechart col-12  col-md-4" data-percentage="72">
        <span class="progres-content">ES6</span>
      </div>
      <div class="circlechart col-12  col-md-4" data-percentage="70">
        <span class="progres-content">Angular</span>
      </div>
      <div class="circlechart col-12  col-md-4" data-percentage="84">
        <span class="progres-content">UI-UX</span>
      </div>
      <div class="circlechart col-12  col-md-4" data-percentage="82">
        <span class="progres-content">Wordpress</span>
      </div>
      <div class="circlechart col-12  col-md-4" data-percentage="77">
        <span class="progres-content">API</span>
      </div>
      <div class="circlechart col-12  col-md-4" data-percentage="75">
        <span class="progres-content">PHP</span>
      </div>
      <div class="circlechart col-12  col-md-4" data-percentage="70">
        <span class="progres-content">MySQL</span>
      </div>
      <div class="circlechart col-12  col-md-4" data-percentage="87">
        <span class="progres-content">AdobeXD</span>
      </div>
      <div class="circlechart col-12  col-md-4" data-percentage="80">
        <span class="progres-content">Photoshop</span>
      </div>
      <div class="circlechart col-12  col-md-4" data-percentage="82">
        <span class="progres-content">Illustrator</span>
      </div>
      <div class="circlechart col-12  col-md-4" data-percentage="79">
        <span class="progres-content">DomainControl</span>
      </div>
    </div>
  </div>
</section>
<!-- end-skills -->
