 <!-- start-EXPERIENCE -->
 <section id="experience" class="experience pd-y">
  <div class="container">
     <div class="heading text-center">
        <h2 class="title">EXPERIENCE</h2>
        <span class="span-left"></span><i class="fa fa-stop icon-heading"></i><strong class="subtitle">I FEEL
           CONFIDENT</strong><i class="fa fa-stop icon-heading"></i><span class="span-right"></span>
     </div>
     <div class="experience-content">
        <div class="experience-item row">
           <div class="item-a col-12 col-md-4">
              <h4>2019-present</h4>
              <h3>Media Gate Studios</h3>
           </div>
           <div class="item-b col-12 col-md-8">
              <h3>Front End - Developer</h3>
              <p>I create, design, code and develop websites using the latest tools and programming languages
                 and create the user interface to be responsive to all mobile phones, computers and tablets so
                 that it is easy to use for customers</p>
           </div>
        </div>
        <div class="experience-item row">
           <div class="item-a col-12 col-md-4">
              <h4>2018-2019</h4>
              <h3>freelancer</h3>
           </div>
           <div class="item-b col-12 col-md-8">
              <h3>Front End - Developer</h3>
              <p>I implement front-end designs for websites with the latest technologies and advanced tools such
                 as
                 HTML, HTML5, CSS, CSS3, JS, JQUERY, BootStrap, Sass, Pug and React so that I can implement at
                 the
                 highest level befitting customers..</p>
           </div>
        </div>
        <div class="experience-item row">
           <div class="item-a col-12 col-md-4">
              <h4>2016-2018</h4>
              <h3>Egyptian Ministry of Health</h3>
              <h3>(CDC-IEIP)</h3>
           </div>
           <div class="item-b col-12 col-md-8">
              <h3>Front End - Developer</h3>
              <p>FrontEnd Developer and Technical support and site follow-up
                  The electronic and database of doctors and nursing and their training for the international
                 program for emerging infectious diseases affiliated to the American CDC organization in Egypt at
                 the Egyptian Ministry of Health and obtained a certificate of honor from the president of the
                 organization in America.</p>
           </div>
        </div>
        <div class="experience-item row">
           <div class="item-a col-12 col-md-4">
              <h4>2015-2016</h4>
              <h3>Gulf Projects Company</h3>
              <h3>(Kingdom of Saudi Arabia)</h3>
           </div>
           <div class="item-b col-12 col-md-8">
              <h3>Technical support</h3>
              <p>I used to supervise construction sites in the field of concrete and finishing of the company in
                 Dammam, Khobar and Al-Ahsa in the eastern region of Saudi Arabia, then I do periodic maintenance
                 of
                 the company's devices with the IT department because I have a long experience in construction
                 and
                 maintenance of computers before I change Domain to website developer.</p>
           </div>
        </div>
        <div class="experience-item row">
           <div class="item-a col-12 col-md-4">
              <h4>2013-2015</h4>
              <h3>Egyptian Ministry of Health</h3>
              <h3>(WHO)</h3>
           </div>
           <div class="item-b col-12 col-md-8">
              <h3>Technical support</h3>
              <p>I was working as a responsible for maintaining the computers and database for training,
                 trainees,
                 doctors and nursing for the WHO project with the Egyptian Ministry of Health..</p>
           </div>
        </div>
     </div>
  </div>
</section>
<!-- end-EXPERIENCE -->
