      <!-- start-Blog -->
      <section id="blog" class="blog pd-y ">
        <div class="container">
           <div class="heading text-center">
              <h2 class="title">MY BLOG</h2>
              <span class="span-left"></span><i class="fa fa-stop icon-heading"></i><strong class="subtitle">THE LATEST
                 BLOG</strong><i class="fa fa-stop icon-heading"></i><span class="span-right"></span>
           </div>
           <div class="blog-content row ">
              <div class="blog-item col-md-6 col-lg">
                 <div class="card">
                    <div class="blog-img h-100">
                       <img src="../../../assets/images/blog1.jpg" class="card-img-top w-100 h-100" alt="photo">
                       <div class="overlay"></div>

                    </div>
                    <div class="card-body">
                       <h5 class="card-title">There are many variations of passages of Lorem Ipsum</h5>
                       <span class="blog-subtitle">
                          April 13 2019
                       </span>
                       <p class="card-text">Contrary to popular belief, Lorem Ipsum is not simply random text. It has
                          roots in a
                          piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
                    </div>
                 </div>
              </div>
              <!--./latest-item-->

              <div class="blog-item col-md-6 col-lg">
                 <div class="card">
                    <div class="blog-img h-100">
                       <img src="../../../assets/images/blog2.jpg" class="card-img-top w-100 h-100" alt="photo">
                       <div class="overlay"></div>
                    </div>

                    <div class="card-body">
                       <h5 class="card-title">There are many variations of passages of Lorem Ipsum</h5>
                       <span class="blog-subtitle">
                          Octo 20 2020
                       </span>
                       <p class="card-text">Contrary to popular belief, Lorem Ipsum is not simply random text. It has
                          roots in a
                          piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
                    </div>
                 </div>
              </div>
              <!--./latest-item-->

              <div class="blog-item col-md-6 col-lg">
                 <div class="card">
                    <div class="blog-img h-100">
                       <img src="../../../assets/images/blog3.jpg" class="card-img-top w-100 h-75" alt="photo">
                       <div class="overlay"></div>
                    </div>
                    <div class="card-body">
                       <h5 class="card-title">There are many variations of passages of Lorem Ipsum</h5>
                       <span class="blog-subtitle">
                          March 24 2020
                       </span>
                       <p class="card-text">Contrary to popular belief, Lorem Ipsum is not simply random text. It has
                          roots in a
                          piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
                    </div>
                 </div>
              </div>
              <!--./latest-item-->
           </div>
           <!--./latest-content-->
        </div>
        <!--./container-->
     </section>
     <!-- end-Blog -->
  <!-- End all secttion  -->
